 p{
                font-family: Roboto,Arial, Helvetica, sans-serif;
                margin-top: 0;
                margin-bottom: 0;
            }
body{
    margin: 0;
    background-color: rgb(247, 247, 247);
    padding-top: 70px;
    padding-left: 95px;
    padding-right: 25px;;
}