 .search-bar{
                display: block;


            }
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;

}
.left-sec{
    background-color: gray;
    width: 150px;
    

}
.mid-sec{
    background-color:red;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    
}
.right-sec{
    background-color:lightgreen ;
    width: 200px;
}